!!!
%html
  %head
    %title Evergreen
    = stylesheet_link_tag 'application', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags

  %body
    .body-container
      %nav.navbar.navbar-default.navbar-fixed-top{ role: 'navigation' }
        .container-fluid
          = link_to root_path, class: 'navbar-brand' do
            %span Evergreen
            %i.fa.fa-tree.main-green

          = render "shared/sectors_navigation", sectors: sectors

          = render "shared/user_actions_menu"

          = # <search-form></search-form>

      .navbar-spacer

      .content-container
        = yield

      = # <footer-nav></footer-nav>
